/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.intro {
  max-width: 100%;
  top: 0;
  background: url(/img/LA-skyline.jpg);
  color: white;
  background-position: 50% 45%;
  min-height: 100vh;
  padding-top: 50vh;
}
@media (max-width: 500px) {
  .intro {
    padding-top: 40vh;
  }
}
.intro h1 {
  font-size: 5rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  .intro h1 {
    font-size: 4rem;
  }
}
.intro p {
  color: white;
  font-size: 2rem;
}
.motto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 175px;
  background-color: #4f4f4f;
  color: white;
}
.motto h2 {
  text-align: center;
  width: 70%;
  font-size: 2.5rem;
}
.laptop-background {
  background-image: url(/img/grayscale\ laptop.jpeg);
  background-position: 50% 70%;
  background-size: cover;
  height: 600px;
}
.work {
  max-width: 100%;
  padding-top: 60px;
  margin-top: -60px;
}
.work .work-header {
  margin-top: 50px;
  color: black;
  font-size: 2.5rem;
  text-decoration-line: underline;
  font-weight: bold;
}
#projects {
  max-width: 100%;
}
#projects .project {
  text-decoration: none;
  color: black;
  display: inline-block;
  overflow: hidden;
  border: 2px solid black;
  height: 220px;
  width: 300px;
  margin: 100px 10% 50px 10%;
}
@media (max-width: 1025px) {
  #projects .project {
    margin: 30px 5%;
  }
}
@media (max-width: 500px) {
  #projects .project {
    width: 250px;
  }
}
#projects .project .project-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid lightblue;
}
#projects .project .project-title {
  margin-top: 8px;
  font-weight: 500;
}
#projects .show-all {
  max-width: 100%;
  text-decoration: none;
  display: block;
  width: 200px;
  height: 40px;
  margin: 20px auto 90px;
  background: white;
  color: black;
  font-weight: bold;
  font-size: 1em;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
}
#projects .show-all:hover {
  background: black;
  color: white;
}
#about-me {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about-me h2 {
  font-size: 3rem;
  text-decoration-line: underline;
  margin-top: 60px;
  margin-bottom: 20px;
}
#about-me img {
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 200px;
  height: auto;
  border-radius: 50%;
}
#about-me p {
  text-align: center;
  width: 50%;
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 50px;
}
.hollywood-banner {
  background-image: url(/img/california-hill-hollywood-164183.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 600px;
}
.contact {
  max-width: 100%;
  background: black;
  padding-bottom: 150px;
}
.contact .header {
  padding: 300px 0 110px;
  color: white;
}
.contact .header h1 {
  font-size: 4.5rem;
}
.contact .header p {
  font-size: 1.6rem;
}
.contact .contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #90c695;
  text-align: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background: white;
  color: black;
  text-decoration: none;
}
.contact .contact-details:hover {
  background: #e4f1fe;
  color: red;
}
nav ul {
  position: fixed;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1025px) {
  nav ul {
    justify-content: center;
  }
}
nav ul li {
  display: flex;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}
@media (max-width: 1025px) {
  nav ul li {
    margin: 5px 10% 20px 10%;
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  nav ul li {
    margin-top: 15px;
  }
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  color: red;
}
