.container {

    .profile-banner {

        display: flex;
        justify-content: flex-start;
        height: 170px;
        //sbackground-color: #BDBDBD;
        background-image: url(/img/california-hill-hollywood-164183.jpg);
        background-position: 50% 47%;
        background-size: cover;
        height: 500px;
        width: 100%;
    }

    .motto {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        height: 175px;
        background-color: #4f4f4f;
        color: white;

        h2 {
            text-align: center;
            width: 70%;
            font-size: 3rem;
        }
    }

    .laptop-background {
        background-image: url(/img/grayscale\ laptop.jpeg);
        background-position: 50% 70%;
        background-size: cover;
        height: 600px;
        width: 100%;

    }

    #portfolio {

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-top: 70px;
        padding-bottom: 100px;
        background-color: white;

        h2 {
            text-align: center;
            font-size: 4rem;
            text-decoration-line: underline;
            margin-bottom: 40px;
            color: black;
        }

        .panel-grid {
            width: 80%;
            height: auto;
            padding-bottom: 75px;
            //border: 2px solid black;
            background-color: white;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .panel {
                text-align: center;
                width: 35%;
                height: auto;
                margin-top: 75px;

                img {
                    border: 1px solid black;
                    max-width: 100%;
                    height: auto;

                    &:hover {
                        box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
                    }
                }
            }
        }
    }

    #about-me {

        img {
            border: 2px solid black;
            margin-top: 15px;
            margin-left: 6%;
            width: 150px;
            height: 140px;
            border-radius: 50%;
        }
    }
}