.container {

    .profile-banner {

        height: 150px;
        background-color: #BDBDBD;
    }

    .motto {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        height: 150px;
        background-color: #4f4f4f;
        color: white;

        h2 {
            text-align: center;
            width: 70%;
            font-size: 3rem;
        }
    }

    .laptop-background {
        background-image: url(/img/grayscale\ laptop.jpeg);
        object-fit: cover;
        height: 920px;
    }
}